<template>
  <ul>
    <menu-item :model="routes"></menu-item>
  </ul>

</template>

<script>
import MenuItem from './MenuItem'

export default {
  name: 'Menu',
  props: {
    routes: Object
  },
  mounted: function () {
  },
  components: {
    MenuItem
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
