<template>
    <li class="item">
      <div class="item-title" v-if="hasChild">{{ model.title }}</div>
      <router-link :to="model.path" v-if="!hasChild">{{ model.title }}</router-link>
      <ul v-show="open" v-if="hasChild">
        <menu-item v-for="(item,index) in model.children" :model="item" :key="index"></menu-item>
      </ul>
    </li>
</template>

<script>
export default {
  name: 'MenuItem',
  props: {
    model: Object
  },
  data () {
    return {
      open: true
    }
  },
  mounted: function () {
    console.log('menuitem mounted..')
    console.log(this.model)
  },
  computed: {
    hasChild () {
      return this.model && this.model.children && this.model.children.length
    }
  },
  methods: {
    toggle () {
      if (this.hasChild) {
        this.open = !this.open
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
