<template>
  <div>
    <button @click="turnAbout">about</button>
    <div id="basic" style="width: 100%;height:500px;"></div>
  </div>
</template>

<script>
import initEchart from '@/mixin/chart'

export default {
  name: 'basic',
  mixins: [initEchart],
  mounted () {
    let option = {
      // x轴
      xAxis: {
        // boundaryGap 留白策略
        boundaryGap: false,
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
      },
      // y轴
      yAxis: {
        type: 'value'
      },
      // 图例组件展现了不同系列的标记(symbol)，颜色和名字。可以通过点击图例控制哪些系列不显示
      legend: {
        data: ['系列a', '系列b']
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        // grid 区域是否包含坐标轴的刻度标签。
        containLabel: true
      },
      // 工具栏。内置有导出图片，数据视图，动态类型切换，数据区域缩放，重置五个工具。
      toolbox: {
        feature: {
          saveAsImage: {}
        }
      },
      // 提示框组件。
      tooltip: {
        // axis 坐标轴触发
        trigger: 'axis',
        // 坐标轴指示器配置项。
        axisPointer: {
          type: 'cross',
          label: {
            backgroundColor: '#6a7985'
          }
        }
      },
      // 系列列表。每个系列通过 type 决定自己的图表类型
      series: [{
        name: '系列a',
        data: [820, 932, 901, 934, 1290, 1330, 1320],
        type: 'line',
        areaStyle: {}
      },
      {
        name: '系列b',
        data: [820, 932, 901, 934, 1290, 1330, 1320].reverse(),
        type: 'line',
        // 背景颜色
        areaStyle: {},
        // 是否平滑曲线显示。可有数字
        smooth: true
      }]
    }
    this.init('basic', option)
  },
  methods: {
    turnAbout () {
      this.$router.push({
        path: '/about'
      })
    },
    drawChart () {
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById('strip'))
      // 指定图表的配置项和数据
      let option = {
        title: {
          text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
          data: ['销量']
        },
        // x坐标
        xAxis: {
          data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
        },
        // y坐标
        yAxis: {},
        series: [
          {
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
          }
        ]
      }
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option)
    }
  }
}
</script>
