<template>
  <div class="about">
    <h1>This is an about page</h1>
    <input type="text" > 
    <button @click="index++">加</button>
    <div v-once> {{index}}</div>
    <el-button @click="drawer = true" type="primary" style="margin-left: 16px;">
           <div>{{name}} </div>
    </el-button>
      <el-drawer
  title="我是标题"
  :visible.sync="drawer"
  :direction="direction"
  :before-close="handleClose">
  <span>我来啦!</span>
</el-drawer>
  </div>
</template>
<script>

export default {
  name: 'about',
  data () {
    return {
      drawer: false,
      index: '',
      direction: 'rtl'
    }
  },
  methods: {
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    }
  },
  created () {
    this.name = 'jack'
    console.log('about create ...')
  }
}
</script>
