<template>
  <div class="home">
      <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import ScrollPosition from '@/lib/scroll-position.js'
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  mounted: function () {
    ScrollPosition.get.call(this)
    console.log('home mounted')
  },
  created: function () {
    console.log('home created')
  },
  components: {
    HelloWorld
  }
}
</script>
