<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <input type="text">
    <h3>echarts</h3>
    <ul>
      <li><a href="/strip" >strip</a></li>
      <li><a href="/basic" >basic</a></li>
      <li><a href="/grid" >多图表</a></li>
    </ul>
    <div>
      <router-link to="/">Home</router-link>
      |
      <router-link to="/about">About</router-link>|
      <router-link to="/animate">animate</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  h3 {
    margin: 40px 0 0;
  }

  ul {
    /*list-style-type: none;*/
    padding: 0;
  }

  li {
    /*display: inline-block;*/
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
