<template>
     <div id="app">
      <router-view />
  </div>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>

<script>
import { constantRoutes } from './router'

export default {
  name: 'home',
  data () {
    return {
      routes: {
        title: 'echart',
        children: constantRoutes
      }
    }
  },
  mounted: function () {
    console.log('home mounted')
    constantRoutes.map((item, index) => {})
  },
  created: function () {
    console.log('home created')
  }
}
</script>
