<template>
  <div class="app-wrapper">
    <!-- <router-view /> -->
    <!-- <router-link to="/">Home</router-link>|
    <router-link to="/about">About</router-link>|
    <router-link to="/strip">strip</router-link>| -->
    <div id="nav">
      <div class="menu">
        <!--        <span>图表</span>-->
        <!--        <ul>-->
        <!--          <li>-->
        <!--            <router-link to="/basic">basic</router-link>-->
        <!--          </li>-->
        <!--          <li>-->
        <!--            <router-link to="/strip">strip</router-link>-->
        <!--          </li>-->
        <!--        </ul>-->
        <menu-bar :routes="routes"></menu-bar>
      </div>
      <div class="content">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script >
import { constantRoutes } from '@/router'
import MenuBar from '@/components/Menu'

export default {
  name: 'Layout',
  data () {
    return {
      routes: {
        title: 'echart',
        children: constantRoutes
      }
    }
  },
  components: {
    MenuBar
  }
}
</script>

<style lang="scss">
.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.menu {
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 5px 10px;
  text-align: left;
  li {
    margin: 4px 6px;
  }
}
#nav {
  padding: 10px;
  display: flex;
  .menu {
    width: 200px;
    border-right: 1px solid gray;
  }
  .content {
    flex: 1;
  }
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
